/* .signin-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1;
} */

.signin-container form {
    display: flex;
    flex-direction: column;
}

.signin-container form div {
    margin-bottom: 10px;
}

.signin-container form p {
    padding-left: 10px;
    margin: 0;
}

.signin-container form input {
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(248, 247, 247);
    color: rgb(93, 93, 93);
    border: none;
}

/* .signin-container form button {
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
} */

/* .signin-container form button:hover {
    background-color: #45a049;
    
.signin-container form button:hover {
    background-color: white;
} */

@media (max-width: 600px) {
    .signin-container {
        width: 90%;
    }
} 
